#navigation {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  height: 500px;
  background: pink; }

#header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  height: 500px;
  background: #3b3b3b; }

body {
  margin: 0;
  padding: 0;
  background: #3b3b3b; }

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  background: #ffffff;
  max-width: 1000px;
  margin: 0 auto; }

#intro0 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  background: #ffffff; }

#intro {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  background: #ffffff; }
